main {
    display: flex;
    justify-content: center;
}

#product-categories {
    background-color: rgb(189, 236, 245);
    display: flex;
}

.products {
    border-radius: 2px;
    flex-basis: 33.33%;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}

.products:hover {
    background-color: rgb(150, 210, 250);
}

#main-product-container {
    display: inline-flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 1% 2% 2% 2%;
    align-content: center;
    padding: none;
}

.card-body {
    display: grid;
}

.product-card {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 260px;
    height: 290px;
}

.product-image {
    width: 100px;
    height: 100px;
    align-self: center;
}

.card-text {
    overflow: hidden;
    display: -webkit-box; /* Required for -webkit-line-clamp */
    -webkit-line-clamp: 3; /* For older WebKit browsers */
    -webkit-box-orient: vertical; /* Required for -webkit-line-clamp */
    line-clamp: 3;         /* Standard property */
    -moz-box-orient: vertical; /* For older Firefox versions (less common for line-clamp) */
  }

.product-btn {
    background-color: rgb(189, 236, 245);
    color: rgb(48, 19, 19);
    border: solid 1px;
    place-self: end;
}

.product-btn:hover {
    background-color: rgb(150, 210, 250);
    color: black;
    border: solid 1px;
}