<nav class="navbar navbar-expand-lg bg-body-tertiary" id="tff-nav">
    <a class="navbar-brand  tff-logo" href="index.html">
        <img id="tanks-for-fish-logo" src="/images/fish_tank3.png" alt="fish for tanks">
    </a>
    <div class="container-fluid">
        <a class="navbar-brand title" id="single-day-regular-id" href="index.html">Tanks For Fish</a>
        <!-- <form class="d-flex search" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success nav-search-button" type="submit">Search</button>
        </form> -->
        <form class="d-flex search" role="search" method="get" action="/products">
            <input class="form-control me-2" type="search" name="value" placeholder="Search by name" aria-label="Search">
            <input type="hidden" name="attribute" value="category">
            <button class="btn btn-outline-success nav-search-button" type="submit">Search</button>
        </form>
        
        <a id="cart" href="cart.html"><img id="shopping-cart" alt="shopping cart" src="/images/shopping_cart.png"> View My Cart</a>
    </div>
</nav>