<!-- <%- include('./partials/head')%>
<link href="/css/cart.css" rel="stylesheet">
<script src="/scripts/cart.js" defer></script>
</head>
<body>
    <header>
        <%- include('./partials/nav')%>
    </header>
    <main>
        <section id="cart-container"></section>
        <h3>Shopping Cart</h3>
    </main>
</body> -->